@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --bg-color: rgb(29, 29, 28);
    --bg-slight-trans-color: #2b262290;
    --text-color: rgb(237, 237, 237);
    --primary-color: rgb(188, 103, 33);
    --hover-color: #cf762c;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: var(--primary-color);
}

body{
    font-family: "Exo 2", sans-serif;
    font-size: 18px;
    font-weight: 300;
    background: var(--bg-color);
    color: var(--text-color);
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    color: var(--text-color);
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn{
    padding: 8px 16px;
    border-radius: 20px;
}

.btn-1{
    background: var(--primary-color);
    border: 2px solid transparent;
}

.btn-1:hover{
    color: var(--text-color);
    background: transparent;
    border: 2px solid var(--primary-color);
}

.btn-2{
    border: 2px solid var(--primary-color);
}

.btn-2:hover{
    color: var(--text-color);
    background: var(--hover-color);
}

a:hover{
    color: var(--primary-color);
}

.highlight-heading{
    color: var(--text-color);
}